{% raw %}
<li>
        <span>
            <label ng-class="sub.selected ? 'SubSelected' : 'SubdNotSelected'" ng-click="clickSub(sub)">{{ sub.name }} ({{ sub.order }})</label>
            <button class="btnExtend" ng-if="sub.issubparent" ng-click="toggleModSub(sub)">+/-</button>
        </span>
    <div class="ModSubList" ng-if="sub.issubparent" ng-show="isModSubToggle(sub)">
        <ul ng-repeat="sub in sub.sublist">
            <div ng-include="'field_renderer.html'"></div>
        </ul>
    </div>
</li>
{% endraw %}