<hr class="separateur">
<div class="centerize">
    {% raw %}
    <div> Download Section:
        <form id="formdownload" action="/rest/downloadzip" method="post">
            <select ng-model="download.selected" ng-options="name for name in download.zip"></select>
            <button type="submit">Download!</button>
        </form>
    </div>
    <hr class="separateur">
    <button class="btnValidate" type="submit" ng-disabled="confirmValRoll.disableVal" ng-click="clickValidRoll('VALIDATE', 'relB')">VALIDATE</button>
    <button class="btnValidate" type="submit" ng-click="clickValidRoll('ROLLBACK', 'relB')">ROLLBACK</button>
    <div>
        <span ng-if="confirmValRoll.active">Are you sure to {{ confirmValRoll.validRoll}} ? <button ng-click="clickConfirmValidRoll('YES')">YES</button> <button ng-click="clickConfirmValidRoll('NO')">NO</button></span>
    </div>
    {% endraw %}
</div>